@media (min-width: 1199px){
    .slider {
        padding-left: 8.5px;
	   padding-right: 8.5px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
	
	.portfolio-box { width: 205px; }
	
	.testimonial-list .testimonial-image { width: 12%; }
	.testimonial-list .testimonial-text { width: 88%; }
	
}

@media (min-width: 768px) and (max-width: 991px) {
    #first 
    {
        display: block !important;
        width: 24% !important;
        margin-left: 38% !important;
        margin-right: 38% !important; 
    }
    #second 
    {
        display: block !important;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;    
    }
    
    .bigCenterText h3{
        font-size: 30px;
        line-height: 70px;
    }
    
	ul.navbar-nav li a { padding-left: 15px; padding-right: 15px; }
	
    .portfolio-box { width: 210px; }

}
@media (max-width: 991px) {
    .img-smaller img, .thumb{
        width: 170px; 
        height: 170px;
    }
}
@media (max-width: 860px) {
    .marginTop40Bottom0{
        margin-top: 0px;
    }
    .marginTop25{
        margin-bottom: 30px;    
    }
    
	.flex-direction-nav a { top: 30px; width: 30px; height: 30px; padding-top: 7px; }
	.flex-direction-nav a:before { font-size: 18px; }
	.flex-caption { width: 100%; bottom: 0; } 
	
}

@media (max-width: 767px) {
	
	.navbar>.container .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 16px; }
	.navbar-toggle .icon-bar { background: #5d5d5d; }
	ul.navbar-nav li a { padding: 15px 20px; text-align: left; }
	ul.navbar-nav li a br { display: none; }
	ul.navbar-nav li a i { padding-right: 7px; }
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 15px 20px; }
	
	.slider-2-text h1, .slider-2-text p { padding-left: 15px; padding-right: 15px; }
	
	.page-title-container p { display: block; margin: 10px 0 6px 0; line-height: 24px; }
	
	.portfolio-masonry { padding: 0; }
    .portfolio-box { width: 100%; margin: 30px 0 0 0; padding: 0 30px; }
	
	footer { padding-top: 20px; }
	.footer-box { text-align: center; }
	.footer-box-text-subscribe input[type="text"] { max-width: 300px; }
	.footer-copyright, .footer-social { text-align: center; }
	.footer-social a { margin: 0 5px; }
    
    .gardenList {
        font-size: 15px;
        width: 550px;
        line-height: 20px;
    }
    .bigCenterText h3 {
        text-align: center;
        line-height: 35px;
    }
}
@media (max-width: 600px) {
    .gardenList {
        font-size: 12px;
        width: 400px;
        line-height: 20px;
        font-weight: 600;
    }
    .eventsList{
        font-size: 22px;
        width: 350px;
    }
    .brush {
        background: none;
    }
    .bigCenterText h3{
        
        font-size: 28px;
        line-height: 30px;
    }
    .footer-box-text p {
        font-size: 14px;
        line-height: 14px;
    }
    .footer-copyright p {
        font-size: 14px;
    }
    
}
@media (max-width: 400px) {
	.flex-caption { display: none; }
    .gardenList {
        font-size: 12px;
        width: 350px;
        line-height: 20px;
    }
    .gardenList i{
        font-size: 16px;
    } 
    .img-smaller img, .thumb{
        width: 150px; 
        height: 150px;
    }
    .presentation-container p, .par20 {
        font-size: 16px;
    }   
}
@media (max-width: 360px) {
    .eventsList{
        font-size: 18px;
        width: 310px;
    }
    .gardenList {
        font-size: 11px;
        width: 310px;
    }
    .img-smaller img, .thumb{
        width: 120px; 
        height: 120px;
    }
}

/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 167px 63px !important;
    }
	
}


