@media (min-width: 768px) and (max-width: 991px) {
    #first 
    {
        display: block !important;
        width: 24% !important;
        margin-left: 38% !important;
        margin-right: 38% !important; 
    }
    #second 
    {
        display: block !important;
        width: 91%;
        margin-left: auto !important;
        margin-right: auto !important;    
    }
}

#homeheadlines { 
    font-family: 'Lobster', cursive;
}
#homeheadlines h2 { 
    font-family: 'Lobster', cursive;
    font-size: 25px;
}


.borderRadius {
    border-radius: 2%;
}

#parlineheight {
    margin-top: 25px;
}

.work {
    background-color: #F2E8DE !important;
}

.services-full-width-text h3 {
    color: #8d3b60 !important;
}

.services-half-width-text h3 {
    padding-top: 10px !important;
}

.services-full-width-text {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.services-full-width-text h3, .services-half-width-text h3 {
    margin-top: 0px !important;
    font-family: 'Lobster', cursive !important;
    font-size: 25px !important;
    text-transform: capitalize!important;
    margin-bottom: 12px !important;
}

.green h3 {
    color: darkgreen !important;
}

.gardening-img {
    margin-bottom: 20px;
}

.squareButton {
	display: inline-block;
    padding: 7px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #9d426b;
    color: #fff;
    text-decoration: none;
}
.squareButton:hover{
    background: #5d5d5d;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.squareButton a {
    color: #fff; 
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.squareButton a:hover{
    color: #fff;
}



.resizer {
    width: 100%; 
    height: 35vh; 
    overflow: hidden; 
}

.resizer img { 
    width: 100%;
}
