@media (min-width: 768px) and (max-width: 991px) {
    #first 
    {
        display: block !important;
        width: 24% !important;
        margin-left: 38% !important;
        margin-right: 38% !important; 
    }
    #second 
    {
        display: block !important;
        width: 91%;
        margin-left: auto !important;
        margin-right: auto !important;    
    }
}

#homeheadlines { 
    font-family: 'Lobster', cursive;
}
#homeheadlines h2 { 
    font-family: 'Lobster', cursive;
    font-size: 25px;
}


.borderRadius {
    border-radius: 2%;
}

#parlineheight {
    margin-top: 25px;
}

.work {
    background-color: #F2E8DE;
}

