
#homeheadlines { 
    font-family: 'Satisfy-Regular';
}
#homeheadlines h2 { 
    font-family: 'Satisfy-Regular';
    font-size: 25px;
}


.borderRadius {
    border-radius: 2%;
}

#parlineheight {
    margin-top: 25px;
}

.work {
    background-color: #d4c6d5 !important;
}

.services-full-width-text h3 {
    color: #b295b1 !important;
}

.services-half-width-text h3 {
    padding-top: 10px !important;
}

.services-full-width-text {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.services-full-width-text h3, .services-half-width-text h3 {
    margin-top: 0px !important;
    font-family: 'Satisfy-Regular' !important;
    font-size: 25px !important;
    line-height: 35px !important;
    text-transform: capitalize! important;
    margin-bottom: 12px !important;
}

.green h3 {
    color: #7EAE9B !important;
}

.gardening-img {
    margin-bottom: 20px;
}

.squareButton {
	display: inline-block;
    padding: 7px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #b295b1;
    color: #545454;
    text-decoration: none;
}
.squareButton:hover{
    background: #5d5d5d;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.squareButton a {
    color: #fff; 
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.squareButton a:hover{
    color: #fff;
}



.resizer {
    width: 100%; 
    height: 35vh; 
    overflow: hidden; 
}

.resizer img { 
    min-height: 35vh !important;
    min-width: 100% !important;
    max-width: 36vh !important;
    min-width: 121% !important;
}



.intro {
    margin-top: 30px;
    line-height: 40px;
}

.page-title-container h1{
    font-size: 30px !important;
}
.page-title-container p{
    font-size: 18px !important;
}

.footer-box-text, .footer-copyright, .work p {
    color: black;
}

.footer-box-text h1, .footer-box-text h2, .footer-box-text h3, .footer-box-text h4, .footer-copyright h1, .footer-copyright h2, .footer-copyright h3, .footer-copyright h4, .work h1,  .work h2, .work h3, .work h4, {
    color: black !important;
}

h1, h2, h3, h4, h5{
    text-shadow: none !important;
}

.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.marginTop40Bottom0 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.marginTop30 {
    margin-top:  30px;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.par20 {
    font-size: 17px;
}

.gardenList i {
    color: #7EAE9B;
    font-size: 25px;
}

.gardenList {
    font-family: 'Flux';
    font-size: 24px;
   line-height: 40px;
   /* width: 600px;*/
    margin: auto;
}
.eventsList {
    font-family: 'Satisfy-Regular';
    font-size: 25px;
    line-height: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.eventsList i {
    color: #b295b1;
}
.listCenter {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.brush {
  color: white;
    /*background-image: url(../../stroke.png);
    background-attachment:local;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;*/
    border-style: solid;
border-width: 67px 111px 72px 121px;
-moz-border-image: url(../../assets/img/40.png) 67 111 72 121 repeat;
-webkit-border-image: url(../../assets/img/40.png) 67 111 72 121 repeat;
-o-border-image: url(../../assets/img/40.png) 67 111 72 121 repeat;
border-image: url(../../assets/img/40.png) 67 111 72 121 fill repeat;
}
.white a {
    color: white !important;
}
.marginTop25 {
    margin-top: 25px;
}
.bigCenterText h3{
    line-height: 150px;
    text-align: left;
    color: #b295b1;
    font-size: 40px;
    
}

#myCarousel {
    margin-top: 10px !important;
}





.boxed {
  background: rgba(0, 0, 0, 0.75);
  padding: 3px 5px;
    margin-bottom: 30px;
}
